<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jsoup.mapper.ItemMapper">
	
	<!--用户新增操作  -->
	<insert id="insertIntoDB" parameterType="Item">
		insert into spidder (id,title,sellpoint,price,image,proddesc)values(
			#{id},
			#{title},
			#{sellPoint},
			#{price},
			#{image},
			#{desc}
		)
	</insert>
	
	
	
	
	
	
	
	
</mapper>
